{% extends "OCReservationBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}


{% block ocreservation_body %}

	<div>
		{# ATTENTION BIEN COMPLETE TOUTES LES BALISES DU FORM CF SYMFONY COURS PROJET #}
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		{{ form_errors(form) }}

		{{ form_row(form.billets) }}

  		{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  		{{ form_rest(form) }}

		{{ form_end(form) }}
	</div>

	<div>
		<p>Attention pour les tarifs réduit besoin cartes....</p>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() 
	{
		// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
		var $container = $('div#commande_billet_billets');

		// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		var index = $container.find(':input').length;

		var number = 0;

		//On appelle commande.nbBillets fois lea fonction addBillet
		while (number < {{ commande.nbBillets }}) 
		{
			addBillet($container);
			number++;
		}

		// La fonction qui ajoute un formulaire BilletType
		function addBillet($container) 
		{
			// Dans le contenu de l'attribut « data-prototype », on remplace :
			// - le texte "__name__label__" qu'il contient par le label du champ
			// - le texte "__name__" qu'il contient par le numéro du champ
			var template = $container.attr('data-prototype')
			.replace(/__name__label__/g, 'Billet n°'+ (index+1))
			.replace(/__name__/g,        index)
			;

			// On crée un objet jquery qui contient ce template
			var $prototype = $(template);

			// On ajoute le prototype modifié à la fin de la balise <div>
			$container.append($prototype);

			// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
			index++;
		}

	});
	</script>
	
{% endblock %}
