{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

{{ form_errors(form) }}

{% if form.email is defined %}
    <div class="form-group">
        {{ form_label(form.email, "E-mail", {'label_attr': {'class': 'col-xs-offset-1 col-xs-2 control-label'}}) }}
        <div class="col-xs-8">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-sm-offset-2 col-xs-8">
            {{ form_errors(form.email, { 'attr': {'class': 'form-control '} }) }}
        </div>
    </div>
{% endif %}


{% if form.jour is defined %}
    <div class="form-group">
        {{ form_label(form.jour, "Jour", {'label_attr': {'class': 'col-xs-offset-1 col-xs-2 control-label'}}) }}
        <div class="col-xs-8">
            {{ form_widget(form.jour, { 'attr': {'class': 'datepicker form-control', 'autocomplete' : 'off'} }) }}
        </div>
        <div class="col-sm-offset-2 col-xs-8">
            {{ form_errors(form.jour, { 'attr': {'class': 'form-control '} }) }}
        </div>
    </div>
{% endif %}


{% if form.type is defined %}
    <div class="form-group">
        {{ form_label(form.type, "Type de billet", {'label_attr': {'class': 'col-xs-offset-1 col-xs-2 control-label'}}) }}
        
        <div class="col-xs-8">
            {{ form_widget(form.type, { 'attr': {'class': 'form-control '} }) }}
        </div>
        <div class="col-sm-offset-2 col-xs-8">
            {{ form_errors(form.type, { 'attr': {'class': 'form-control '} }) }}
        </div>
        
    </div>
{% endif %}

{% if form.nbBillets is defined %}
    <div class="form-group">
        {{ form_label(form.nbBillets, "Nombre de billet", {'label_attr': {'class': 'col-xs-offset-1 col-xs-2 control-label'}}) }}
        <div class="col-xs-8">
            {{ form_widget(form.nbBillets, { 'attr': {'class': 'form-control '} }) }}
        </div>
        <div class="col-sm-offset-2 col-xs-8">
            {{ form_errors(form.nbBillets, { 'attr': {'class': 'form-control '} }) }}
        </div>
    </div>
{% endif %}

{% if form.billets is defined %}

    {{ form_row(form.billets) }}

{% endif %}

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary col-xs-offset-9'}}) }}

{{ form_rest(form) }}

{{ form_end(form) }}