{% extends "OCReservationBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block ocreservation_body %}

	<p>Date : {{ commande.jour|date('d/m/Y') }}</p>
	<p>Type de billet : {{ commande.type.nom }}</p>
	<p>Email : {{ commande.email }} </p>
	
	<table>

		<tr>
			<th>Billet</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Date de naissance</th>
			<th>Tarif</th>
			<th>Prix du billet</th>
		</tr>

	{% set numeroBillet = '0' %}

	{% for billet in commande.billets %}
		
		{% set numeroBillet = numeroBillet + 1 %}
			
        <tr>
        	<th>Billet n°{{ numeroBillet }}</th>
        	<th>{{ billet.nom }}</th>
        	<th>{{ billet.prenom }}</th>
        	<th>{{ billet.dateNaissance|date('d/m/Y') }}</th>
        	<th>Tarif</th>
        	<th>Prix du billet</th>
        </tr>
    {% endfor %}

    </table>

    <p>Montant total de la commande : </p>

{% endblock %}