<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

</head>

<body>


	<div class="header-bandeau">

		<div id="header-bandeau-gris">
			
		</div>

		<div id="header-bandeau-noir">
			<img src="{{ logo }}">
		</div>

	</div>


	<div class="titre-email">
		<h1>LOUVRE.FR</h1>
	</div>


	<div class="contenu-email">

		<div class="titre-contenu">
			<h2>Merci pour votre commande !</h2>
			
		</div>

		<div class="message-email">
			<p>Bonjour {{ billet.prenom }},</p>
			<p>Merci pour votre commande.</p>
			<p>Ce mail fait foi billet, merci de vous présenter à l'entrée du musée du Louvre avec cet e-mail.</p>
		</div>

		<div class="billet">
			<div class="titrebillet">
				<h1>Musée du Louvre</h1>
				<img src="{{ logo }}">
			</div>
			<h2 id="datevisite"><strong>Date de la viste : </strong>{{ commande.jour|date('d/m/Y') }}</h2>
			<h3><strong>Prenom et NOM : </strong>{{ billet.prenom }} {{ billet.nom }}</h3>
			<h3 id="tarifvisite"><strong>Tarif : </strong>{{ billet.prixNom }} {{ billet.prixValeur|number_format(2, ',') }}€</h3>
			<h3><strong>Code billet : </strong>{{ billet.code }}</h3>
			<img id="codebarre" src="{{ codebarre }}">
		</div>

		<div class="message-email">
			<div id="alert-carte-email">
				<p>Il est nécessaire pour les personnes bénéficiant du "Tarif Réduit" de présenter leur carte d’étudiant, militaire ou équivalent lors de l’entrée au musée du Louvre.</p>
			</div>
			<div>
				<p>À bientôt,</p>
				<p>L'équipe du musée du louvre.</p>
			</div>
		</div>

	</div>


</body>

</html>

<style type="text/css">

body
{
	margin-bottom: 20px;
}



#header-bandeau-gris
{
	height: 25px;
	background-color: #D5D5D5;
}

#header-bandeau-noir
{
	height: 50px;
	background-color: #333333;
	margin-bottom: 90px;
}

#header-bandeau-noir img
{
	width: 23%;
	margin-left:19.5%;
}



.titre-email
{
	text-align: center;
	margin-bottom: 40px;
}

.contenu-email
{
	border: 1px solid #CCCCCC;
	padding: 30px 30px 0px 30px;
}

.titre-contenu
{
	border-bottom: 1px solid #CCCCCC;
}

.message-email
{
	margin-top: 30px;
	margin-bottom: 30px;
}

.billet
{
	background-color: #F2F2F2;
	padding: 5px 10px 30px 10px;
}

.titrebillet
{
	text-align: center;
	text-transform: uppercase;
}

.titrebillet img
{
	width:50%;
	margin: 0 auto 0 auto;
}

#datevisite
{
	border-top : 1px dashed grey;
	border-bottom : 1px dashed grey;
	padding: 15px 0 15px;
}

#tarifvisite
{
	border-bottom : 1px dashed grey;
	padding-bottom: 15px;
}

#codebarre
{
	width: 35%;
	margin: 0 auto 0 auto;
}

#alert-carte-email
{
	margin-top: 30px;
	margin-bottom: 30px;
	color: red;
}
</style>